<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="${title}">Créer un spectacle</title>
    <link rel="stylesheet" th:href="@{/css/show/create.css}">

</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Créer un spectacle</h1>
        <form th:action="@{/shows/create}" th:object="${show}" method="post">
            <label for="title">Nom:</label>
            <input type="text" id="title" th:field="*{title}" />

            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}"></textarea>

            <label for="posterUrl">URL de l'affiche:</label>
            <input type="text" id="posterUrl" th:field="*{posterUrl}" />

            <label for="price">Prix:</label>
            <input type="number" step="0.01" id="price" th:field="*{price}" />

            <label for="bookable">Réservable:</label>
            <input type="checkbox" id="bookable" th:field="*{bookable}" />

            <button type="submit">Créer</button>
        </form>
    </div>
</div>
</body>
</html>