<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="${title}">Modifier un spectacle</title>
    <link rel="stylesheet" th:href="@{/css/show/create.css}">
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Modifier un spectacle</h1>
        <form th:action="@{/shows/{id}/edit(id=${show.id})}" th:object="${show}" method="post">
            <label for="title">Nom:</label>
            <input type="text" id="title" th:field="*{title}" />
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}"></textarea>
            <label for="posterUrl">URL de l'affiche:</label>
            <input type="text" id="posterUrl" th:field="*{posterUrl}" />
            <label for="price">Prix:</label>
            <input type="number" id="price" th:field="*{price}" />
            <button type="submit">Modifier</button>
        </form>

    </div>
</div>
</body>
</html>